
.vs/FHardware/v16/Server/sqlite3/storage.ide-wal
.vs/FHardware/v16/Server/sqlite3/storage.ide-shm
.vs/FHardware/v16/Server/sqlite3/storage.ide
.vs/FHardware/v16/Server/sqlite3/db.lock
.vs/FHardware/v16/.suo
.vs/FHardware/DesignTimeBuild/.dtbcache
.vs/FHardware/config/applicationhost.config
.vs/FHardware/v16/.suo
.vs/FHardware/config/applicationhost.config
